<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>Razor Fun!</title>
    </head>
    <body>
        <h1>Hello from Razor Fun cshtml file!!</h1>
        @{
    var StringList = new List<string>
    {
        "Apple Pie",
        "Pizza",
        "Cinnamon Rolls",
        "Lasagna",
        "Donuts",
        "Chocolate Cake",
        "Burritos"
    };
        
    foreach(var word in StringList)
    {
        <div>
            @if(word.StartsWith("C")){
                <p style="color: red;">@word</p>
            }else{
                <p>@word</p>
            }
        </div>
    }
}
    </body>
</html>

